<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="span">Physical Therapy App</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="mat-elevation-z8"
      src="assets/images/sbnz22.jpg"
      alt="Default image"
    />

    <h4 class="name">{{ this.user.username }}</h4>

    <button
      mat-button
      class="menu-button"
      (click)="onLogoutButtonClicked()"
      id="logout-button"
    >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>

    <mat-divider></mat-divider>
    <mat-action-list>
      <mat-list-item
        (click)="this.activeView = '1'"
        [ngClass]="this.activeView === '1' ? 'active-tab' : ''"
        >All patients</mat-list-item
      >
      <mat-list-item
        (click)="this.activeView = '3'"
        [ngClass]="this.activeView === '3' ? 'active-tab' : ''"
        >Your appointments</mat-list-item
      >
    </mat-action-list>

    <!--<button mat-button class="menu-button" (click)="this.activeView = '1'">
      <span>All patients</span>
    </button>

    <button mat-button class="menu-button" (click)="this.activeView = '3'">
      <span>Your appointments</span>
    </button>
    
    <button mat-button class="menu-button" (click)="this.activeView = '3'">
      <span>Izvestaj o Imunizaciji</span>
    </button>

    <button mat-button class="menu-button" (click)="this.activeView = '4'">
      <span>Dostupne Vakcine</span>
    </button>

    <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
      <span>Arhiva gradjanskih dokumenata</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="this.activeView = '5'">
        Napredna pretraga
      </button>
      <button mat-menu-item (click)="this.activeView = '6'">
        Obicna pretraga
      </button>
    </mat-menu>
-->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-view-patients
        class="registar"
        *ngIf="this.activeView === '1'"
        (onViewPatientChart)="onViewPatientChartClicked($event)"
      ></app-view-patients>
      <app-view-one-patient
        [patientUsername]="this.selectedPatient"
        class="registar"
        *ngIf="this.activeView === '2'"
      ></app-view-one-patient>
      <app-view-appointments
        class="registar"
        *ngIf="this.activeView === '3'"
        (onStartAppointment)="onStartAppointmentClicked($event)"
      ></app-view-appointments>
      <app-start-appointment
        [appointmentId]="this.selectedAppointment"
        class="registar"
        *ngIf="this.activeView === '4'"
        (onCancelAppointment)="this.activeView = '3'"
      ></app-start-appointment>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-logout
  *ngIf="this.showModalLogout"
  (onLogoutClose)="onLogoutCloseClicked($event)"
></app-logout>
