<div>
  <div id="img-div">
    <img
      class="mat-elevation-z8"
      src="assets/images/sbnz10.jpg"
      alt="Medical chart image"
    />
  </div>
  <mat-card>
    <table
      mat-table
      [dataSource]="userDataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="Username">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="username"
          sortActionDescription="Sort by username"
        >
          Username
        </th>
        <td mat-cell *matCellDef="let element" name="username">
          {{ element.username }}
        </td>
      </ng-container>

      <!-- FirstName Column -->
      <ng-container matColumnDef="FirstName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="firstName"
          sortActionDescription="Sort by firstName"
        >
          FirstName
        </th>
        <td mat-cell *matCellDef="let element" name="firstName">
          {{ element.firstName }}
        </td>
      </ng-container>

      <!-- Surname Column -->
      <ng-container matColumnDef="LastName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="lastName"
          sortActionDescription="Sort by lastName"
        >
          LastName
        </th>
        <td mat-cell *matCellDef="let element" name="lastName">
          {{ element.lastName }}
        </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="Age">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="age"
          sortActionDescription="Sort by age"
        >
          Age
        </th>
        <td mat-cell *matCellDef="let element" name="age">
          {{ element.age }}
        </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="Gender">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="gender"
          sortActionDescription="Sort by gender"
        >
          Gender
        </th>
        <td mat-cell name="gender" *matCellDef="let element">
          {{ element.gender }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
<div style="display: flex">
  <div style="width: 50%">
    <form class="example-form allSymptoms-form" [formGroup]="searchForm">
      <mat-form-field class="example-container">
        <span matPrefix> </span>
        <input
          matInput
          class="form-control"
          style="color: #db691d"
          type="text"
          formControlName="search"
          name="itemSearch"
        />
        <mat-placeholder class="search-placeholder"
          >Search by symptom...</mat-placeholder
        >
      </mat-form-field>

      <button
        style="color: #db691d"
        type="submit"
        class="submit-button"
        (click)="search()"
        id="submit-button"
        matSuffix
        mat-icon-button
        matTooltip="Search all symptoms."
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <cdk-virtual-scroll-viewport
      appendOnly
      itemSize="3"
      class="example-viewport custom-scroll-bar"
    >
      <mat-card>
        <table
          mat-table
          [dataSource]="allSymptomsDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="Symptom">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="name"
              sortActionDescription="Sort by name"
            >
              Symptom
            </th>
            <td mat-cell *matCellDef="let element" name="name">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="AddSymptom">
            <th mat-header-cell *matHeaderCellDef>Add</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                name="edit-ordered-item"
                (click)="addSymptom(element)"
                matTooltip="Add symptom to present symptoms."
              >
                <mat-icon>add_circle</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="allSymptomsDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: allSymptomsDisplayedColumns"
          ></tr>
        </table>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
  <div style="width: 50%">
    <div class="h3-div">
      <h3 class="presentSymptomsH3">Present Symptoms</h3>
    </div>
    <cdk-virtual-scroll-viewport
      appendOnly
      itemSize="3"
      class="example-viewport custom-scroll-bar"
    >
      <mat-card>
        <table
          mat-table
          [dataSource]="presentSymptomsDataSource"
          matSort
          (matSortChange)="announceSortChange($event)"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="Symptom">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="name"
              sortActionDescription="Sort by name"
            >
              Symptom
            </th>
            <td mat-cell *matCellDef="let element" name="name">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="RemoveSymptom">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                name="edit-ordered-item"
                (click)="removeSymptom(element)"
                matTooltip="Remove symptom from present symptoms."
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="presentSymptomsDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: presentSymptomsDisplayedColumns"
          ></tr>
        </table>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<div class="modal-footer">
  <button
    mat-flat-button
    type="button"
    class="btn btn-danger"
    (click)="cancel()"
  >
  Cancel
  </button>
  <button
    mat-flat-button
    type="button"
    class="btn btn-primary"
    (click)="continue()"
  >
  Continue
  </button>
</div>

<app-add-jmr
[appointmentId]="this.appointmentId"
*ngIf="this.showJMR"
(onJMRClose)="this.showJMR = false"
(onJMRSubmitted)="this.startForwardChaining()"
></app-add-jmr>