table {
  width: 100%;
}

.example-form {
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  text-shadow: 0 0 black;
}

input {
  background: transparent;
  background-color: transparent;
}

.example-container {
  width: 45%;
  margin-left: 20px;
  font-size: large;
  background: transparent;
}

.form_input {
  width: 45%;
  margin-left: 10px;
  font-size: large;
  text-shadow: 0 0 black;
}

.addEmployeeBttn {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 10px;
}

mat-card {
  height: 75%;
  background-color: transparent;
  box-shadow: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
  text-shadow: 0 0 black;
}

.details:hover {
  background-color: #0f040457;
  color: white;
}

.search-placeholder {
  color: gray;
}

.mat-table {
  background-color: #546d78;
}

img {
  height: 200px;
  border-radius: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#img-div {
    text-align: center;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}

.example-viewport {
  height: 50%;
}

.h3-div {
  background-color: lightgrey;
  width: 96%;
  margin-left: 20px;
  height: 72px;
  column-span: all;
}

.presentSymptomsH3 {
  font-size: large;
  text-align: -webkit-center;
  margin-top: 20px;
  color: gray;
}